.repocard {
  padding: 20px 0;
  border-bottom: 1px solid #e1e4e8;
}

.repocard h3 {
  font-size: 20px;
  margin: 0 0px 10px 0;
}

.repocard h3 a {
  color: #0366d6;
  text-decoration: none;
}

.repocard .info {
  display: flex;
  align-items: center;
  color: #586069;
}

.repocard .info * {
  margin-right: 20px;
  font-size: 12px;
}

.repocard .desc {
  font-size: 14px;
  margin-bottom: 10px;
}
